/*Monitors*/
@media (min-width:800px){
    .Prospects__Wrapper{
        margin:0 auto;
        text-align:center;
        margin:calc(5px + 2vmin);
        border-radius:20px;
    }
    
    .Prospects__Content{
        display:grid;
        justify-items: start;
        margin:calc(2px + 2vmin);
        justify-items: center;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}



@media (max-width:400px){
    .Prospects__Wrapper{
        margin:0 auto;
        text-align:center;
        margin:calc(5px + 2vmin);
    }
    
    .Prospects__Content{
        display:grid;
        justify-items: start;
        margin:calc(2px + 2vmin);
        justify-items: center;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

