.App {
  text-align: center;
}

.Visual_UI{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}


.Map_Wrapper{
  margin:1em;
}

.Preview_Section{
  margin:1em;
}

.Preview_Content{
  width:100%;
  height:100%;
  background-color:tomato;
}
/*TODO: fix for iphone PLUS */
@media (max-width:400px){
  .Visual_UI{
    display:grid;
    grid-template-columns: 1fr ;
    grid-auto-rows: 1fr;
  }
}