/*Monitors*/
@media (min-width:800px){
    .Prospect__Wrapper{
        padding:1em;
        border-radius:5px;
        transition:all .2s ease-in-out;
        margin-bottom: calc(1px + 2vmin);
    }
    
    .Prospect--Link{
        text-decoration: none;
        color: #c1320b;
        border-bottom: 1px dotted #000;
    }
    
    .Prospect--Link:hover{
        color:#334;
        border-bottom:1px solid #000;
    }
    
    .Prospect--Image{
        width:116px;
        height:auto;
        margin-bottom: calc(1px + 1vmin);
        border-radius:5px;
    }


}

/*iphone-X*/
@media (max-width:400px){
    .Prospect__Wrapper{
        padding:calc(10px + 3vmin);
        border-radius:5px;
        transition:all .2s ease-in-out;
        margin-bottom: calc(15px + 3vmin);
    }
    .Prospect--Image{
        width:200px;
        height:auto;
        margin-bottom: calc(1px + 5vmin);
        border-radius:5px;
    }
}



@media (min-width: 320px) and (max-width: 959px) {
    .Prospect--Rank{
      font-size: calc( 3.2rem + 16 * (100vw - 320px) / (960 - 320) );
      /* For a negative slope, we have to invert the breakpoints */
      line-height: calc( 120% + 3.2 * (100vw - 960px) / (320 - 960) );
    }
  }
  
  @media (min-width: 1024px) and (max-width: 1600px) {
    .Prospect--Rank {
      font-size: calc( .5rem + 16 * (100vw - 1024px) / (1600 - 1024) );
      /* For a negative slope, we have to invert the breakpoints */
      line-height: calc( 120% + 2.2 * (100vw - 1600px) / (1024 - 1600) );
    }
  }

