.Fighter_Content{
    text-align: center;
    background-color:#DAE0E6;
    border-bottom-right-radius: 5px;
    /* padding:1em; */
    padding: calc(10px + 3vmin);
  }

  .Fighter--Title{
    padding: calc(3px + 2vmin);
  }